<article class="message">
  <div class="text">{{text}}</div>
  <footer>
    Posted by
    <a href="/users/{{postedBy.username}}">@{{postedBy.username}}</a>
    at
    <time>{{postedAt}}</time>
  </footer>
</article>
